@model Customer.Web.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GivenName) @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressOne), <br>
            @Html.DisplayFor(model => model.AddressTwo), <br>
            @Html.DisplayFor(model => model.Town), <br>
            @Html.DisplayFor(model => model.State), <br>
            @Html.DisplayFor(model => model.AreaCode), <br>
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.CustomerId">Update Details</a> |
    <a asp-action="Delete" asp-route-id="@Model.CustomerId">Delete Account</a>
</div>
