@model IEnumerable<Customer.Web.ViewModels.ProductViewModel>

    <h1>
        @ViewBag.Category
    </h1>

    <a asp-action="Categories">Other Categories</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Product
            </th>
            <th>
                Description
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-ProductId="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductId)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-ProductId="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="ByBrand" asp-route-BrandId="@item.BrandId">@Html.DisplayFor(modelItem => item.Brand)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-controller="Review" asp-action="Index" asp-route-ProductId="@item.ProductId" asp-route-ProductName="@item.Name">Reviews</a> |
                    <a asp-controller="Basket" asp-action="AddItem" asp-route-ProductId="@item.ProductId">Add to Basket</a>
                </td>
            </tr>
        }
    </tbody>
