@model IEnumerable<Customer.Web.ViewModels.ReviewViewModel>

<h1>Review History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-ProductId="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-ProductId="@item.ProductId" asp-route-ProductName="@item.ProductName" asp-route-Rating="@item.Rating" asp-route-ReviewText="@item.ReviewText">Edit</a> |
                <a asp-action="Delete" asp-route-ProductId="@item.ProductId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>